{{!-- {{#each tabs}}
<button type="action" name="act_{{this}}" class="tab">{{capitalize this}}</button>
{{/each}} --}}

{{!-- <input type="hidden" name="attr_character" class="toggle" value="1">
<div class="character toggled">
	Character
</div> --}}

{{!-- <input type="hidden" name="attr_npc" class="toggle" value="0">
<div class="npc toggled">
	NPC
</div> --}}

{{!-- <input type="hidden" name="attr_charmancer" class="toggle" value="0">
<div class="charmancer toggled">
	<h2>Attributes and Prime:</h2>
	<select name="attr_attributes">
		<option value="none" selected disabled>Choose</option>
		<option>Standard Array</option>
		<option>Point Buy</option>
		<option>Roll Method</option>
	</select>

	<input type="hidden" name="attr_array" class="toggle" value="0">
	<div class="toggled">
		{{#each stats}}
		<span>{{capitalize this}}</span>
		<select name="attr_{{this}}">
			<option value="none" selected disabled>Choose</option>
			<option>3</option>
			<option>1</option>
			<option>0</option>
			<option>-2</option>
		</select>
		{{/each}}
	</div>

	<input type="hidden" name="attr_buy" class="toggle" value="0">
	<div class="toggled">
		<span>Total Points:</span> <input type="number" name="attr_points" value="12" max="12" min="0">
		{{#each stats}}
		<span>{{capitalize this}}</span>
		<input type="number" name="attr_{{this}}" max="3" min="-2" value="-2">
		{{/each}}
	</div>

	<input type="hidden" name="attr_roll" class="toggle" value="0">
	<div class="toggled">Roll Method</div>
</div> --}}

{{#each skillsList as |skills|}}
<span>{{capitalize @key}}</span>
<input type="number" name="attr_{{@key}}" value="-2" min="-2" />
{{#each skills as |skill|}}
<span>{{capitalize skill}}</span>
{{#each @root.masteries as |mastery|}}
<input type="checkbox" name="attr_{{skill}}Mastery" value="{{mastery}}">
{{/each}}
<input type="hidden" name="attr_{{skill}}" value="-2">
<span name="attr_{{skill}}"></span>
{{/each}}
{{/each}}

<script type="text/worker">
{{#each skillsList as |skills|}}
	{{#each skills as |skill|}}
		on("change:{{skill}}Mastery change:{{@../key}}", () => {
			getAttrs(["{{skill}}Mastery", "{{@../key}}"], values => {
				const stat = +values.{{@../key}} || 0;
				const mastery = +values.{{skill}}Mastery || 0;
				const total = stat + mastery;

				setAttrs({
					"{{skill}}": total
				});
			});
		});
	{{/each}}
{{/each}}

//	on("clicked:character clicked:charmancer clicked:npc", eventInfo => {
//		getAttrs(["character", "charmancer", "npc"], values => {
//			const character = values.character;
//			const charmancer = values.charmancer;
//			const npc = values.npc;
//			const trigger = eventInfo.triggerName;
//			let output = {};
//
//			{{#each tabs}}
//					output.{{this}} = trigger.includes("{{this}}") ? 1 : 0
//			{{/each}}
//
//			setAttrs(output);
//		});
//	});

	//on('change:attributes', () => {
		//getAttrs(['attributes'], values => {
			//const method = values.attributes;

			//setAttrs({
				//array: method === 'Standard Array' ? 1 : 0,
				//buy: method === 'Point Buy' ? 1 : 0,
				//roll: method === 'Roll Method' ? 1 : 0,
				//might: method === 'Point Buy' ? -2 : "none",
				//agility: method === 'Point Buy' ? -2 : "none",
				//intelligence: method === 'Point Buy' ? -2 : "none",
				//charisma: method === 'Point Buy' ? -2 : "none",
				//points: method === 'Point Buy' ? 12 : 0
			//});
		//});
	//});

//	{{#each stats}}
//		on('change:{{this}}', eventInfo => {
//			getAttrs(['points', {{this}}], values => {
//				console.log(eventInfo.previousValue, values.{{this}})
//				const {{this}} = +values.{{this}} || 0;
//				const previous = +eventInfo.previousValue || 0;
//				const difference = previous - {{this}};
//				const points = +values.points || 0;
//				const total = points - difference;
//
//				setAttrs({
//					points: total
//				});
//			});
//		});
//	{{/each}}
</script>

{{!--
EACH - THIS
<div>
	{{#each stats}}
	<span>{{this}}</span>
	<input type='number' name='attr_{{this}}' value='10' />
	<input type='number' name='attr_{{this}}_buff' value='0' />
	<input type='number' name='attr_{{this}}_modifier' value='0' />
	{{/each}}
</div>

EACH - @KEY - AS - EQ - @ROOT
<div>
	{{#each skills as |skill|}}
	<span>{{@key}}</span>
	<select name="attr_{{@key}}_skill">
		{{#each @root.stats as |stat|}}
		<option {{#eq skill stat}}selected{{/eq}}>{{this}}</option>
		{{/each}}
	</select>
	<input type="checkbox" name="attr_{{@key}}_trained" value="1">
	<input type="number" name="attr_{{@key}}_special" value="0">
	<input type="number" name="attr_{{@key}}_modifier" value="0">
	{{/each}}
</div>

NOOP
<div>
	{{{{noop}}}}
	&{template}{{name=Monster}}
	{{{{/noop}}}}
</div>


<script type="text/worker">
{{#each stats}}
	on('change:{{this}} change:{{this}}_buff', () => {
			getAttrs(['{{this}}', '{{this}}_buff'], values => {
				const score = +values.{{this}} || 0;
				const buff = +values.{{this}}_buff || 0;
				const base_mod = Math.floor(score/2) -5;
				const total = base_mod + buff;
				setAttrs({
					{{this}}_modifier: total
				});
			});
	});
{{/each}}

{{#each skills as |skill|}}
	on('change:{{@key}}_trained change:{{@key}}_special sheet:opened', () => {
		getAttrs(['{{@key}}_trained', '{{@key}}_special'], values => {
				const score = +values.{{@key}}_trained || 0;
				const score_trained = score * 4;
				const special = +values.{{@key}}_special || 0;
				const total = score_trained + special;
				setAttrs({
						{{@key}}_modifier: total
				});
		});
	});
{{/each}}
</script>
--}}