mixin radiobox(options)
	- name = options.name || '';
	- attr = `attr_${name}`;
	- title = `@{${name}}`;
	- value = options.value || false;
	- total = options.total || 1;
	.radiocontainer
		input(class='radiobox reset' type='radio' name=attr title=title value='0' checked)
		each n, i in Array(total)
			- totalValue = value * (i + 1)
			input(class='radiobox' type='radio' name=attr title=title value=totalValue)
